* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: #e2e2fb;
  --background_secundary: #fafbff;
  --text__color--blue: #3734a9;
  --li__nav: #757095;
}

.flex__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex__between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: red;
}

.container {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.to__manage {
  display: flex;
  background: yellow;
  justify-content: space-between;
}

#painel__img {
  position: absolute;
  right: 1px;
  width: 650px;
  height: 547px;
  display: none;
}

.information__button {
  display: flex;
  margin-top: 1rem;
}
@media (max-width: 452px) {
  .information__button {
    flex-direction: column;
  }
}
.information__button span {
  display: flex;
  margin-right: 1rem;
  width: 150px;
  align-items: center;
}
.information__button span p {
  text-transform: capitalize;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: var(--background);
}

.button--primary {
  border: none;
  width: 162px;
  height: 60px;
  border-radius: 7px;
  text-transform: capitalize;
  background: #3734a9;
  margin-top: 1rem;
  color: white;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  cursor: pointer;
}

.button--secondary {
  margin-top: 1rem;
  width: 129px;
  height: 30px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  border: none;
  background: transparent;
  margin-left: 1rem;
  /* identical to box height, or 176% */
  letter-spacing: -0.02em;
  /* Pallet 4 / Primary */
  color: #3734a9;
}

.information--text {
  font-family: "Manrope", sans-serif;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.information--text h2 {
  font-size: clamp(1.5rem, 5vh, 2rem);
  max-width: 600px;
  font-weight: 800;
}
.information--text p {
  margin: 0.5em 0 0 0;
  color: #757095;
  font-weight: 400;
  font-size: clamp(1rem, 1vh, 1.2rem);
  line-height: 30px;
  letter-spacing: -0.02em;
  max-width: 600px;
}

header {
  background: var(--background);
  display: flex;
  justify-content: center;
  height: 4rem;
}
header .header__logo {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  text-transform: capitalize;
}
header .nav__links {
  font-family: "Manrope", sans-serif;
  display: flex;
  list-style: none;
}
@media (max-width: 893px) {
  header .nav__links {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 681px) {
  header .nav__links {
    display: none;
  }
}
header .nav__links li {
  padding: 1rem;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
}
header .nav__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  height: 75%;
}
@media (max-width: 681px) {
  header .nav__buttons {
    display: none;
  }
}
header .nav__buttons #button--primary {
  border: none;
  background: transparent;
  text-transform: capitalize;
  font-weight: 500;
  width: 137px;
  height: 100%;
}
@media (max-width: 893px) {
  header .nav__buttons #button--primary {
    width: 100%;
    justify-content: center;
  }
}
header .nav__buttons #button--secondary {
  text-transform: capitalize;
  background: #4f46ba;
  width: 137px;
  height: 100%;
  border: none;
  color: #ffffff;
  font-weight: 500;
}

.menu__hambuguer {
  display: none;
}
@media (max-width: 681px) {
  .menu__hambuguer {
    cursor: pointer;
    display: flex;
  }
}

.painel__background {
  width: 50%;
  height: 100%;
  position: absolute;
  display: flex;
  right: 1px;
  align-items: center;
}
.painel__background img {
  width: 300px;
}

.companies {
  background: var(--background_secundary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5rem 0 5rem 0;
}
.companies #companies__help {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1.2rem, 1vh, 1.3rem);
  line-height: 30px;
  /* identical to box height */
  margin-bottom: 2rem;
  text-align: center;
}
.companies #companies__partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.companies #companies__partners span {
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.companies__container {
  display: flex;
  justify-content: center;
}

.fast__resume {
  background: var(--background_secundary);
  display: flex;
  align-items: flex-end;
}

.fast_resume_c {
  height: 90%;
}

.fast_resume--text {
  font-family: "Manrope";
  text-align: center;
}
.fast_resume--text span {
  color: #3734a9;
  font-weight: 800;
  font-size: clamp(1rem, 1vh, 1rem);
  line-height: 25px;
}
.fast_resume--text h2 {
  font-weight: 700;
  font-size: clamp(1.5rem, 2vh, 2rem);
  text-align: center;
  margin-top: 0.5rem;
  letter-spacing: -0.03em;
}

.fast__cards {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1115px) {
  .fast__cards {
    justify-content: center;
  }
}

.card--information {
  font-family: "Manrope";
  margin-top: 1.5rem;
}
.card--information h2 {
  font-size: 21px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: -0.03em;
}
.card--information p {
  margin-top: 1.5rem;
  color: #757095;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.02em;
}

.card {
  margin-right: 1rem;
  width: 367px;
  height: 428px;
}
@media (max-width: 423px) {
  .card {
    width: 300px;
    height: 400px;
    margin: 0;
  }
  .card img {
    width: 100%;
  }
}
@media (max-width: 321px) {
  .card {
    width: 250px;
    height: 250px;
  }
}

.fast__payment {
  background: var(--background_secundary);
  height: 0%;
  padding-top: 10rem;
}
@media (max-width: 873px) {
  .fast__payment img {
    width: 100%;
  }
}

@media (max-width: 881px) {
  .fast_payment--container {
    display: flex;
    flex-wrap: wrap;
  }
}

.keep__updated {
  background: var(--background_secundary);
}
@media (max-width: 478px) {
  .keep__updated {
    padding-top: 4rem;
  }
}

.keep__udated--information {
  font-family: "Manrope";
  max-width: 500px;
}
.keep__udated--information #keep_udated__text--primary {
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 25px;
  color: #3734a9;
  text-transform: uppercase;
}
.keep__udated--information h2 {
  margin-top: 1rem;
  text-transform: capitalize;
  letter-spacing: -0.03em;
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  color: black;
  line-height: 40px;
}
.keep__udated--information #keep_updated__text--secondary {
  color: #757095;
  margin-top: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

@media (max-width: 888px) {
  .keep__updated--container {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__singup {
  font-family: "Manrope";
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}
.form__singup p {
  color: #3734a9;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.02em;
}
.form__singup input {
  height: 60px;
  border: none;
  border-radius: 5px;
  outline: none;
  padding-left: 1rem;
  margin: 1rem 0 1rem 0;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #64607d;
}
.form__singup input::-moz-placeholder {
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #64607d;
  padding-left: 1rem;
}
.form__singup input:-ms-input-placeholder {
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #64607d;
  padding-left: 1rem;
}
.form__singup input::placeholder {
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #64607d;
  padding-left: 1rem;
}
.form__singup button {
  height: 60px;
  background: #ff7f5c;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  /* identical to box height, or 188% */
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 398px) {
  .form__singup {
    padding-top: 2rem;
  }
}
@media (max-width: 888px) {
  .form__singup {
    width: 100%;
  }
}
@media (max-width: 398px) {
  .form__singup {
    max-width: 300px;
  }
}

#keep_updated--img {
  position: relative;
  top: -200px;
  left: 450px;
}
@media (max-width: 993px) {
  #keep_updated--img {
    display: none;
  }
}
@media (max-width: 1115px) {
  #keep_updated--img {
    left: 340px;
  }
}
@media (max-width: 888px) {
  #keep_updated--img {
    display: none;
  }
}

.manage__expenses {
  background: var(--background_secundary);
  padding-top: 10rem;
}

@media (max-width: 924px) {
  .manage__expenses--container {
    display: flex;
    flex-wrap: wrap;
  }
  .manage__expenses--container img {
    display: none;
  }
}

.manage__expenses--information {
  font-family: "Manrope";
}

.title--primary {
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 25px;
  color: #3734a9;
  text-transform: uppercase;
}

.title--secondary {
  font-weight: 400;
  font-size: 16px;
  color: #757095;
  letter-spacing: -0.02em;
  margin-top: 1rem;
}

.title--h2 {
  text-transform: capitalize;
  letter-spacing: -0.03em;
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
}

.happy--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.happy__peoples {
  height: 0%;
  background: var(--background_secundary);
}

.happy__peoples--text {
  font-family: "Manrope";
  text-align: center;
  padding: 2rem;
}
.happy__peoples--text h2 {
  max-width: 300px;
}

.happy__peoples--cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.happy__peoples--cards span {
  margin-right: 1rem;
}
.happy__peoples--cards img {
  max-width: 383px;
  max-height: 285px;
}
@media (max-width: 431px) {
  .happy__peoples--cards img {
    max-width: 340px;
    height: 250px;
  }
}
@media (max-width: 360px) {
  .happy__peoples--cards img {
    max-width: 300px;
    height: 250px;
  }
}
@media (max-width: 331px) {
  .happy__peoples--cards img {
    width: 290px;
    height: 250px;
  }
}
@media (max-width: 220px) {
  .happy__peoples--cards img {
    width: 280px;
    height: 250px;
  }
}

.assistance__finances {
  background: var(--background_secundary);
}
.assistance__finances img {
  position: relative;
  left: -200px;
  top: -100px;
}
@media (max-width: 735px) {
  .assistance__finances img {
    display: none;
  }
}

.assistance_finanes--information {
  font-family: "Manrope";
  text-align: center;
}
.assistance_finanes--information p {
  max-width: 500px;
}

.footer__finances--b {
  background: var(--background_secundary);
  height: 50%;
}

@media (max-width: 993px) {
  .footer__finances--container {
    display: flex;
    flex-wrap: wrap;
  }
}

#footer_finances {
  font-family: "Manrope";
}
@media (max-width: 993px) {
  #footer_finances {
    margin-bottom: 1rem;
  }
}
#footer_finances h2 {
  text-transform: uppercase;
  font-size: 17px;
}
#footer_finances p {
  margin-top: 1rem;
  color: #757095;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  max-width: 242px;
  margin-bottom: 1rem;
}

.footer__block {
  display: flex;
}
@media (max-width: 681px) {
  .footer__block {
    flex-wrap: wrap;
  }
}
.footer__block .footer__block--text {
  width: 70%;
  font-family: "Manrope";
  margin-right: 4rem;
  list-style: none;
}
@media (max-width: 681px) {
  .footer__block .footer__block--text {
    padding-bottom: 2rem;
  }
}
@media (max-width: 737px) {
  .footer__block .footer__block--text {
    flex-wrap: wrap;
    margin-right: 0;
    margin-top: 1rem;
  }
}
.footer__block .footer__block--text li {
  margin-top: 0.5rem;
}
.footer__block .footer__block--text h2 {
  text-transform: capitalize;
  font-size: 17px;
}
.footer__block .footer__block--text li {
  color: var(--li__nav);
  font-size: 15px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
}

.footer--icon li {
  display: flex;
}
.footer--icon span {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}/*# sourceMappingURL=styles.css.map */